{# The settings of the custom edition size #}
{# Sets the template of an ID or assings the given ID #}
{% set id = id ?? '${ id }' %}

<div class="types-of-pricing-rules__item mb-3" data-type="custom_edition_size">
    {# The label of the current type #}
    <div class="types-of-pricing-rules__type-headline mb-3">
        <label class="custom-control custom-radio mb-0 mt-2 mr-3">
            <input
                name="pricing_rules[wide_printed_sheets][sheets][{{ id }}][type]"
                type="radio"
                class="custom-control-input types-of-pricing-rules__type"
                value="custom_edition_size"
                {{ sheetWithRules.getType() == 'custom_edition_size' ? 'checked' : '' }}>
            <span class="custom-control-indicator custom-control-label"></span>
            <span class="custom-control-description">Произвольные тиражи</span>
        </label>
    </div>

    {# The form for configuring a pricing rule of the current type #}
    <div class="types-of-pricing-rules__content pl-4" {{ sheetWithRules.getType() != 'custom_edition_size' ? 'hidden' : '' }}>

        {# Export data and XLSX with example #}
        <div class="mt-3">
            <a
                href="{{ route('document_parser.example', {'name': 'assembly__wide_printed_sheets__custom_edition_size'}) }}"
                target="_blank"
                class="btn btn-secondary">
                <span class="fa fa-download"></span>
                <span class="pl-2">Скачать образец</span>
            </a>
            <button
                type="button"
                data-href="{{ route('document_parser.fill_and_get', {'name': 'assembly__wide_printed_sheets__custom_edition_size'}) }}"
                data-type="custom_edition_size"
                class="btn btn-secondary ml-2 types-of-pricing-rules__export-file">
                <span class="fa fa-upload"></span>
                <span class="pl-2">Выгрузить данные</span>
            </button>
        </div>

        <div class="mt-3">
            <div class="row">
                <div class="col-4">
                    <label class="col-form-label">Название цены</label>
                    <input
                        type="text"
                        class="form-control types-of-pricing-rules__name"
                        name="pricing_rules[wide_printed_sheets][sheets][{{ id }}][custom_edition_size][name]"
                        value="{{ rule.getName() ?? 'Цена' }}">
                </div>
            </div>

            <div class="table-responsive custom-edition-size__container-of-invervals">
                <table class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>Мин. кол-во материала, {{ lang('units', algorithmWithUnit.getUnit()) }}</th>
                            <th>Макс. кол-во материала, {{ lang('units', algorithmWithUnit.getUnit()) }}</th>
                            <th>Цена</th>
                            <th>Ед. изм. цены</th>
                            <th>Срок, дни</th>
                            <th>Работа в выходные</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="custom-edition-size__intervals">
                        {% for interval in rule.getIntervalCollection() %}
                            {% include 'calculator/assembly/types/common/intervals/row-of-custom-edition-size' with {
                                id: id,
                                prefixName: 'pricing_rules[wide_printed_sheets]',
                                index: loop.index,
                                interval: interval,
                            } only %}
                        {% else %}
                            {% include 'calculator/assembly/types/common/intervals/row-of-custom-edition-size' with {
                                id: id,
                                prefixName: 'pricing_rules[wide_printed_sheets]',
                                index: 0,
                            } only %}
                        {% endfor %}
                    </tbody>
                </table>

                <div class="mt-3">
                    <button
                        type="button"
                        class="btn btn-primary custom-edition-size__add-interval"
                        data-selector-of-container-with-table=".custom-edition-size__container-of-invervals"
                        data-selector-of-table-body=".custom-edition-size__intervals"
                        data-row-template="#rowOfCustomEditionSizeForWidePrintedSheets">
                        Добавить интервал
                    </button>
                    <button type="button" class="btn btn-secondary ml-1 custom-edition-size__remove-intervals">
                        Удалить интервалы
                    </button>
                </div>
            </div>

            {# Additional settings #}
            {% include 'calculator/assembly/types/common/additional-settings' with {
                prefixName: 'pricing_rules[wide_printed_sheets][sheets][' ~ id ~ '][custom_edition_size]',
                extraCharge: rule.getExtraCharge(),
                minPrice: rule.getMinPrice()
            } only %}
      </div>
    </div>
</div>
