<div class="mt-3">
    {% include 'calculator/items/variables/header-of-component' %}

    <div class="form-row mt-3">
        <div class="form-group col-md-3 pr-3">
            <label for="">
                Название поля:
            </label>
            <input
                type="text"
                class="form-control"
                name="variables[{{ name }}][label]"
                placeholder="Например, Тираж"
                value="{{ settings.getLabel() }}"
                maxlength="25">
        </div>
        <div class="form-group col-md-3 pl-3 pr-3">
            <label for="">
                Ед. измерения:
            </label>
            <input
                type="text"
                class="form-control"
                name="variables[{{ name }}][unit]"
                placeholder="Например, шт"
                value="{{ settings.getUnit() }}"
                maxlength="10">
        </div>
        <div class="form-group col-md-3 pl-3 pr-3">
            <label for="">
                Подсказка:
            </label>
            <input
                type="text"
                class="form-control"
                name="variables[{{ name }}][placeholder]"
                placeholder="Например, Введите тираж"
                value="{{ settings.getPlaceholder() }}"
                maxlength="25">
        </div>
    </div>

    <div class="form-row mt-3">
        <div class="form-group col-md-2 pr-3">
            <label for="">
                Мин. значение:
            </label>
            <input
                type="number"
                class="form-control"
                name="variables[{{ name }}][rules][standard][min]"
                placeholder="По умолчанию: 1"
                value="{{ settings.getMinValue() }}"
                min="0">
        </div>
        <div class="form-group col-md-2 pl-3 pr-3">
            <label for="">
                Макс. значение:
            </label>
            <input
                type="number"
                class="form-control"
                name="variables[{{ name }}][rules][standard][max]"
                placeholder="По умолчанию: ∞"
                value="{{ settings.getMaxValue() }}">
        </div>
        <div class="form-group col-md-2 pl-3">
            <label for="">
                Шаг:
            </label>
            <input
                type="number"
                class="form-control"
                name="variables[{{ name }}][rules][standard][step]"
                placeholder="По умолчанию: 1"
                value="{{ settings.getStep() }}"
                min="0">
        </div>

        <div class="form-group col-md-2 pl-3 pr-3">
            <label for="">
                По умолчанию:
            </label>
            <input
                type="number"
                class="form-control"
                name="variables[{{ name }}][rules][standard][default]"
                placeholder="Например, 1"
                value="{{ settings.getDefaultValue() }}">
        </div>
    </div>
</div>
